.button {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  border-radius: 10px;
  border: transparent;
  border-bottom: 3px solid black;

}

.delete {
  background-color: var(--red500);
  color: white;
}


.special {
  background-color: var(--grey500);
  color: white;
}

.numeric {
  background-color: var(--grey300);
  color: var(--blue700);
  font-weight: 700;
  font-size: 16px;
}

.basicOperator {
  background-color: var(--grey600);
  color: white;
}

.equal {
  background-color: var(--blue500);
  color: white;
}

.floatingPoint {
  background-color: var(--yellow300);
  font-size: 32px;
}

.instructionContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.instructionText {
  margin-left: 10px;
}